p-sword, p-spear, p-shield {
  height: 3.5rem;
  width: 3.5rem;
  display:block;
  border:1px solid #FFF;
}

p-sword:focus, p-spear:focus, p-shield:focus {
  border-color:blue;
}

p-sword a, p-spear a, p-shield a {
  display: block;
    height: 100%;
    width: 100%;
  }

.piece-for-player0 {
  border:1px solid red;
}

.piece-for-player1 {
  border:1px solid blue;
}

p-sword.invalid, p-spear.invalid, p-shield.invalid {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
