side-line {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sideline-pieces {
  display: flex;
  justify-content: center;
}

.sideline--disabled {
  pointer-events: none;
  opacity: 0.3;
}
