p-board {
  display:block;
  width:400px;
  height:400px;
  border: 1px solid #CCC;
  display:flex;
  flex-direction: column;
  transform: rotate(45deg);
  margin: 100px;
}

.b-row {
  display:flex;
  flex-grow: 0;
  flex-shrink: 0;
  height:20%;
}

p-cell {
  display:flex;
  border:1px solid #CCC;
  flex-grow: 0;
  flex-shrink: 0;
  width:20%;
  justify-content: center;
  align-items: center;
}

/*.starting-cell--player-one {
  background-color:red;
}

.starting-cell--player-two {
  background-color:blue;
}*/

.winning-cell {
  background-color:gold;
}

.allowed-move-cell {
  border:2px solid green;
}

.allowed-push-cell {
  border:2px solid brown;
}
